openapi: 3.1.0
info:
  title: SMSBOX - WhatsApp API Documentation
  version: 2.2.0
  contact:
    url: https://www.smsbox.net
  x-logo:
    url: ../logo-en.png
    backgroundColor: '#FFFFFF'
    altText: SMSBOX logo
    href: https://www.smsbox.net
  description: >

    ### Changelog

    | Version | Date |
    Changes                                                                                                                   
    |

    | ------- | -----
    |---------------------------------------------------------------------------------------------------------------------------|

    | 2.3.0 | 05/16/2025 | 🆕 New Templates List resource and ``Error Incoming``
    webhook added. You can now view IPs sending webhooks in the webhook
    section.     |

    | 2.2.0 | 01/31/2025 | 📌 Add ``reference`` and ``recipients`` attributes in
    the response of the ``message`` resource and add URL versioning
    (``waba/1.1/json``) |

    | 2.1.0 | 10/03/2024 | 👩🏻‍💻 Add interactive list and interactive button
    group for Whatsapp
    API.                                                                |

    | 2.0.0 | 06/28/2024 | 📞 Start of the SMSBOX Documentation on github with
    our ``Whatsapp API documentation``.                                  |
servers:
  - url: https://api.wababox.net
tags:
  - name: whatsapp-outbound-messages
    x-displayName: Message
    description: >-
      Send text, media, location, and reaction messages via WhatsApp Business
      API.
  - name: whatsapp-interactive
    x-displayName: Interactive
    description: Send interactive messages with buttons or lists for user engagement.
  - name: whatsapp-templates-messages
    x-displayName: Template
    description: Manage and send pre-approved message templates.
  - name: whatsapp-event-messages
    x-displayName: Event
    description: Send read receipts and typing indicators.
  - name: whatsapp-file-messages
    x-displayName: File
    description: Upload and manage media files for WhatsApp messages.
  - name: whatsapp-webhooks
    x-displayName: Webhooks
    description: >
      **Important:**<br><br>

      You should pay close attention to the ``requestType`` properties in your
      webhook payload.<br>

      If you are using a firewall, make sure to allow this IPv4 address (**this
      is the address that emits the webhooks**):
       - 37.59.198.135
       - 178.33.185.51
       - 54.36.93.79
       - 54.36.93.80
       - 62.4.31.47
       - 62.4.31.48
paths:
  /waba/1.1/json/{wabaId}/message/{phoneID} (text message):
    description: Send text message
    post:
      operationId: sendTextMessage
      tags:
        - whatsapp-outbound-messages
      security:
        - ApiKey: []
      summary: Send text message
      parameters:
        - name: wabaId
          in: path
          description: WhatsApp Business Agent ID
          required: true
          schema:
            type: string
        - name: phoneID
          in: path
          description: WhatsApp Business Agent's Phone Number ID
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                recipients:
                  type: array
                  items:
                    type: string
                  maxItems: 5000
                  example:
                    - +336XXXXXXXX
                contentMessage:
                  $ref: '#/components/schemas/Text'
      responses:
        '202':
          description: Request successfully queued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse202'
        '400':
          description: Wrong query syntax or missing mandatory field.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse400'
        '402':
          description: Insufficient balance to process the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse402'
        '403':
          description: Access to the requested resource has been denied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse403'
        '404':
          description: The requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse404'
        '405':
          description: The requested method is not supported for the requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse405'
        '413':
          description: The request payload exceeds the maximum allowed size.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse413'
        '503':
          description: Service temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse503'
      x-codeSamples:
        - lang: cURL
          source: "curl --request POST \\\n    --url https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID> \\\n    --header 'Authorization: App <APIKEY>' \\\n    --header 'Content-Type: application/json' \\\n    --data '{\n\t\"recipients\": [\n\t\t\"+336XXXXXXXX\"\n\t],\n\t\"contentMessage\": {\n\t\t\"type\": \"text\",\n\t\t\"text\": {\n\t\t\t\"body\": \"Message sent via my WhatsApp Business agent.\"\n\t\t}\n\t}\n}'\n"
        - lang: Python
          source: "import requests\nimport json\n\nurl = 'https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID>'\nheaders = {\n    'Authorization': 'App <APIKEY>',\n    'Content-Type': 'application/json'\n}\ndata = {\n    \"recipients\": [\n        \"+336XXXXXXXX\"\n    ],\n    \"contentMessage\": {\n        \"type\": \"text\",\n\t\t\"text\": {\n\t\t\t\"body\": \"Message sent via my WhatsApp Business agent.\"\n\t\t}\n    }\n}\n\nresponse = requests.post(url, headers=headers, data=json.dumps(data))\n\nprint(response.status_code)\nprint(response.json())\n"
        - lang: JavaScript
          source: >
            const url =
            'https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID>';

            const headers = {
                'Authorization': 'App <APIKEY>',
                'Content-Type': 'application/json'
            };

            const data = {
                recipients: [
                    "+336XXXXXXXX"
                ],
                contentMessage: {
                    type: "text",
                    text: {
                        body: "Message sent via my WhatsApp Business agent."
                    }
                }
            };


            fetch(url, {
                method: 'POST',
                headers: headers,
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => console.log(data))
                .catch(error => console.error('Error:', error));
        - lang: PHP
          source: >
            <?php


            $url =
            'https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID>';

            $headers = [
                'Authorization: App <APIKEY>',
                'Content-Type: application/json'
            ];

            $data = [
                'recipients' => [
                    "+336XXXXXXXX"
                ],
                'contentMessage' => [
                    'type' => 'text',
                    'text' => [
                        'body' => 'Message sent via my WhatsApp Business agent.'
                    ]
                ]
            ];


            $ch = curl_init($url);

            curl_setopt($ch, CURLOPT_HTTPHEADER, $headers);

            curl_setopt($ch, CURLOPT_POST, 1);

            curl_setopt($ch, CURLOPT_POSTFIELDS, json_encode($data));

            curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);


            $response = curl_exec($ch);

            curl_close($ch);


            echo $response;
  /waba/1.1/json/{wabaId}/message/{phoneID} (Audio message):
    description: Send audio message
    post:
      operationId: sendAudioMessage
      tags:
        - whatsapp-outbound-messages
      security:
        - ApiKey: []
      summary: Send audio message
      parameters:
        - name: wabaId
          in: path
          description: WhatsApp Business Agent ID
          required: true
          schema:
            type: string
        - name: phoneID
          in: path
          description: WhatsApp Business Agent's Phone Number ID
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                recipients:
                  type: array
                  items:
                    type: string
                  maxItems: 5000
                  example:
                    - +336XXXXXXXX
                contentMessage:
                  $ref: '#/components/schemas/Audio'
      responses:
        '202':
          description: Request successfully queued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse202'
        '400':
          description: Wrong query syntax or missing mandatory field.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse400'
        '402':
          description: Insufficient balance to process the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse402'
        '403':
          description: Access to the requested resource has been denied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse403'
        '404':
          description: The requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse404'
        '405':
          description: The requested method is not supported for the requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse405'
        '413':
          description: The request payload exceeds the maximum allowed size.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse413'
        '503':
          description: Service temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse503'
      x-codeSamples:
        - lang: cURL
          source: |
            curl --request POST \
                --url https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID> \
                --header 'Authorization: App <APIKEY>' \
                --header 'Content-Type: application/json' \
                --data '{
                "recipients": [
                    "+336XXXXXXXX"
                ],
                "contentMessage": {
                    "type": "audio",
                    "audio": {
                        "link": "https://www.example.com/fr/file.mp3",
                        "filename": "file.mp3"
                    }
                }
            }'
        - lang: Python
          source: >
            import requests

            import json


            url =
            'https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID>'

            headers = {
                'Authorization': 'App <APIKEY>',
                'Content-Type': 'application/json'
            }

            data = {
                'recipients': [
                    "+336XXXXXXXX"
                ],
                'contentMessage': {
                    'type': 'audio',
                    'audio': {
                        'link': 'https://www.example.com/fr/file.mp3',
                        'filename': 'file.mp3'
                    }
                }
            }


            response = requests.post(url, headers=headers,
            data=json.dumps(data))


            print(response.status_code)

            print(response.json())
        - lang: JavaScript
          source: >
            const url =
            'https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID>';

            const headers = {
                'Authorization': 'App <APIKEY>',
                'Content-Type': 'application/json'
            };

            const data = {
                recipients: [
                    "+336XXXXXXXX"
                ],
                contentMessage: {
                    type: 'audio',
                    audio: {
                        link: 'https://www.example.com/fr/file.mp3',
                        filename: 'file.mp3'
                    }
                }
            };


            fetch(url, {
                method: 'POST',
                headers: headers,
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => console.log(data))
                .catch(error => console.error('Error:', error));
        - lang: PHP
          source: >
            <?php


            $url =
            'https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID>';

            $headers = [
                'Authorization: App <APIKEY>',
                'Content-Type: application/json'
            ];

            $data = [
                'recipients' => [
                    "+336XXXXXXXX"
                ],
                'contentMessage' => [
                    'type' => 'audio',
                    'audio' => [
                        'link' => 'https://www.example.com/fr/file.mp3',
                        'filename' => 'file.mp3'
                    ]
                ]
            ];


            $ch = curl_init($url);

            curl_setopt($ch, CURLOPT_HTTPHEADER, $headers);

            curl_setopt($ch, CURLOPT_POST, 1);

            curl_setopt($ch, CURLOPT_POSTFIELDS, json_encode($data));

            curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);


            $response = curl_exec($ch);

            curl_close($ch);


            echo $response;
  /waba/1.1/json/{wabaId}/message/{phoneID} (Document message):
    description: Send document message
    post:
      operationId: sendDocumentMessage
      tags:
        - whatsapp-outbound-messages
      security:
        - ApiKey: []
      summary: Send document message
      parameters:
        - name: wabaId
          in: path
          description: WhatsApp Business Agent ID
          required: true
          schema:
            type: string
        - name: phoneID
          in: path
          description: WhatsApp Business Agent's Phone Number ID
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                recipients:
                  type: array
                  items:
                    type: string
                  maxItems: 5000
                  example:
                    - +336XXXXXXXX
                contentMessage:
                  $ref: '#/components/schemas/Document'
      responses:
        '202':
          description: Request successfully queued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse202'
        '400':
          description: Wrong query syntax or missing mandatory field.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse400'
        '402':
          description: Insufficient balance to process the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse402'
        '403':
          description: Access to the requested resource has been denied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse403'
        '404':
          description: The requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse404'
        '405':
          description: The requested method is not supported for the requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse405'
        '413':
          description: The request payload exceeds the maximum allowed size.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse413'
        '503':
          description: Service temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse503'
      x-codeSamples:
        - lang: cURL
          source: |
            curl --request POST \
                --url https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID> \
                --header 'Authorization: App <APIKEY>' \
                --header 'Content-Type: application/json' \
                --data '{
                "recipients": [
                    "+336XXXXXXXX"
                ],
                "contentMessage": {
                    "type": "document",
                    "document": {
                        "link": "https://www.example.com/fr/file.pdf",
                        "filename": "file.pdf"
                    }
                }
            }'
        - lang: Python
          source: >
            import requests

            import json


            url =
            'https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID>'

            headers = {
                'Authorization': 'App <APIKEY>',
                'Content-Type': 'application/json'
            }

            data = {
                'recipients': [
                    "+336XXXXXXXX"
                ],
                'contentMessage': {
                    'type': 'document',
                    'document': {
                        'link': 'https://www.example.com/fr/file.pdf',
                        'filename': 'file.pdf'
                    }
                }
            }


            response = requests.post(url, headers=headers,
            data=json.dumps(data))


            print(response.status_code)

            print(response.json())
        - lang: JavaScript
          source: >
            const url =
            'https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID>';

            const headers = {
                'Authorization': 'App <APIKEY>',
                'Content-Type': 'application/json'
            };

            const data = {
                recipients: [
                    "+336XXXXXXXX"
                ],
                contentMessage: {
                    type: 'document',
                    document: {
                        link: 'https://www.example.com/fr/file.pdf',
                        filename: 'file.pdf'
                    }
                }
            };


            fetch(url, {
                method: 'POST',
                headers: headers,
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => console.log(data))
                .catch(error => console.error('Error:', error));
        - lang: PHP
          source: >
            <?php


            $url =
            'https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID>';

            $headers = [
                'Authorization: App <APIKEY>',
                'Content-Type: application/json'
            ];

            $data = [
                'recipients' => [
                    "+336XXXXXXXX"
                ],
                'contentMessage' => [
                    'type' => 'document',
                    'document' => [
                        'link' => 'https://www.example.com/fr/file.pdf',
                        'filename' => 'file.pdf'
                    ]
                ]
            ];


            $ch = curl_init($url);

            curl_setopt($ch, CURLOPT_HTTPHEADER, $headers);

            curl_setopt($ch, CURLOPT_POST, 1);

            curl_setopt($ch, CURLOPT_POSTFIELDS, json_encode($data));

            curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);


            $response = curl_exec($ch);

            curl_close($ch);


            echo $response;
  /waba/1.1/json/{wabaId}/message/{phoneID} (Image message):
    description: Send image message
    post:
      operationId: sendImageMessage
      tags:
        - whatsapp-outbound-messages
      security:
        - ApiKey: []
      summary: Send image message
      parameters:
        - name: wabaId
          in: path
          description: WhatsApp Business Agent ID
          required: true
          schema:
            type: string
        - name: phoneID
          in: path
          description: WhatsApp Business Agent's Phone Number ID
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                recipients:
                  type: array
                  items:
                    type: string
                  maxItems: 5000
                  example:
                    - +336XXXXXXXX
                contentMessage:
                  $ref: '#/components/schemas/Image'
      responses:
        '202':
          description: Request successfully queued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse202'
        '400':
          description: Wrong query syntax or missing mandatory field.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse400'
        '402':
          description: Insufficient balance to process the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse402'
        '403':
          description: Access to the requested resource has been denied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse403'
        '404':
          description: The requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse404'
        '405':
          description: The requested method is not supported for the requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse405'
        '413':
          description: The request payload exceeds the maximum allowed size.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse413'
        '503':
          description: Service temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse503'
      x-codeSamples:
        - lang: cURL
          source: |
            curl --request POST \
                --url https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID> \
                --header 'Authorization: App <APIKEY>' \
                --header 'Content-Type: application/json' \
                --data '{
                "recipients": [
                    "+336XXXXXXXX"
                ],
                "contentMessage": {
                    "type": "image",
                    "image": {
                        "link": "https://www.example.com/fr/file.jpeg",
                        "filename": "file.jpeg"
                    }
                }
            }'
        - lang: Python
          source: >
            import requests

            import json


            url =
            'https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID>'

            headers = {
                'Authorization': 'App <APIKEY>',
                'Content-Type': 'application/json'
            }

            data = {
                'recipients': [
                    "+336XXXXXXXX"
                ],
                'contentMessage': {
                    'type': 'image',
                    'image': {
                        'link': 'https://www.example.com/fr/file.jpeg',
                        'filename': 'file.jpeg'
                    }
                }
            }


            response = requests.post(url, headers=headers,
            data=json.dumps(data))


            print(response.status_code)

            print(response.json())
        - lang: JavaScript
          source: >
            const url =
            'https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID>';

            const headers = {
                'Authorization': 'App <APIKEY>',
                'Content-Type': 'application/json'
            };

            const data = {
                recipients: [
                    "+336XXXXXXXX"
                ],
                contentMessage: {
                    type: 'image',
                    image: {
                        link: 'https://www.example.com/fr/file.jpeg',
                        filename: 'file.jpeg'
                    }
                }
            };


            fetch(url, {
                method: 'POST',
                headers: headers,
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => console.log(data))
                .catch(error => console.error('Error:', error));
        - lang: PHP
          source: >
            <?php


            $url =
            'https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID>';

            $headers = [
                'Authorization: App <APIKEY>',
                'Content-Type: application/json'
            ];

            $data = [
                'recipients' => [
                    "+336XXXXXXXX"
                ],
                'contentMessage' => [
                    'type' => 'image',
                    'image' => [
                        'link' => 'https://www.example.com/fr/file.jpeg',
                        'filename' => 'file.jpeg'
                    ]
                ]
            ];


            $ch = curl_init($url);

            curl_setopt($ch, CURLOPT_HTTPHEADER, $headers);

            curl_setopt($ch, CURLOPT_POST, 1);

            curl_setopt($ch, CURLOPT_POSTFIELDS, json_encode($data));

            curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);


            $response = curl_exec($ch);

            curl_close($ch);


            echo $response;
  /waba/1.1/json/{wabaId}/message/{phoneID} (Sticker message):
    description: Send sticker message
    post:
      operationId: sendStickerMessage
      tags:
        - whatsapp-outbound-messages
      security:
        - ApiKey: []
      summary: Send sticker message
      parameters:
        - name: wabaId
          in: path
          description: WhatsApp Business Agent ID
          required: true
          schema:
            type: string
        - name: phoneID
          in: path
          description: WhatsApp Business Agent's Phone Number ID
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                recipients:
                  type: array
                  items:
                    type: string
                  maxItems: 5000
                  example:
                    - +336XXXXXXXX
                contentMessage:
                  $ref: '#/components/schemas/Sticker'
      responses:
        '202':
          description: Request successfully queued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse202'
        '400':
          description: Wrong query syntax or missing mandatory field.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse400'
        '402':
          description: Insufficient balance to process the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse402'
        '403':
          description: Access to the requested resource has been denied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse403'
        '404':
          description: The requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse404'
        '405':
          description: The requested method is not supported for the requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse405'
        '413':
          description: The request payload exceeds the maximum allowed size.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse413'
        '503':
          description: Service temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse503'
      x-codeSamples:
        - lang: cURL
          source: |
            curl --request POST \
                --url https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID> \
                --header 'Authorization: App <APIKEY>' \
                --header 'Content-Type: application/json' \
                --data '{
                "recipients": [
                    "+336XXXXXXXX"
                ],
                "contentMessage": {
                    "type": "sticker",
                    "sticker": {
                        "link": "https://www.example.com/fr/file.webp",
                        "filename": "file.webp"
                    }
                }
            }'
        - lang: Python
          source: >
            import requests

            import json


            url =
            'https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID>'

            headers = {
                'Authorization': 'App <APIKEY>',
                'Content-Type': 'application/json'
            }

            data = {
                'recipients': [
                    "+336XXXXXXXX"
                ],
                'contentMessage': {
                    'type': 'sticker',
                    'sticker': {
                        'link': 'https://www.example.com/fr/file.webp',
                        'filename': 'file.webp'
                    }
                }
            }


            response = requests.post(url, headers=headers,
            data=json.dumps(data))


            print(response.status_code)

            print(response.json())
        - lang: JavaScript
          source: >
            const url =
            'https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID>';

            const headers = {
                'Authorization': 'App <APIKEY>',
                'Content-Type': 'application/json'
            };

            const data = {
                recipients: [
                    "+336XXXXXXXX"
                ],
                contentMessage: {
                    type: 'sticker',
                    sticker: {
                        link: 'https://www.example.com/fr/file.webp',
                        filename: 'file.webp'
                    }
                }
            };


            fetch(url, {
                method: 'POST',
                headers: headers,
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => console.log(data))
                .catch(error => console.error('Error:', error));
        - lang: PHP
          source: >
            <?php


            $url =
            'https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID>';

            $headers = [
                'Authorization: App <APIKEY>',
                'Content-Type: application/json'
            ];

            $data = [
                'recipients' => [
                    "+336XXXXXXXX"
                ],
                'contentMessage' => [
                    'type' => 'sticker',
                    'sticker' => [
                        'link' => 'https://www.example.com/fr/file.webp',
                        'filename' => 'file.webp'
                    ]
                ]
            ];


            $ch = curl_init($url);

            curl_setopt($ch, CURLOPT_HTTPHEADER, $headers);

            curl_setopt($ch, CURLOPT_POST, 1);

            curl_setopt($ch, CURLOPT_POSTFIELDS, json_encode($data));

            curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);


            $response = curl_exec($ch);

            curl_close($ch);


            echo $response;
  /waba/1.1/json/{wabaId}/message/{phoneID} (Video message):
    description: Send video message
    post:
      operationId: sendVideoMessage
      tags:
        - whatsapp-outbound-messages
      security:
        - ApiKey: []
      summary: Send video message
      parameters:
        - name: wabaId
          in: path
          description: WhatsApp Business Agent ID
          required: true
          schema:
            type: string
        - name: phoneID
          in: path
          description: WhatsApp Business Agent's Phone Number ID
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                recipients:
                  type: array
                  items:
                    type: string
                  maxItems: 5000
                  example:
                    - +336XXXXXXXX
                contentMessage:
                  $ref: '#/components/schemas/Video'
      responses:
        '202':
          description: Request successfully queued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse202'
        '400':
          description: Wrong query syntax or missing mandatory field.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse400'
        '402':
          description: Insufficient balance to process the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse402'
        '403':
          description: Access to the requested resource has been denied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse403'
        '404':
          description: The requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse404'
        '405':
          description: The requested method is not supported for the requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse405'
        '413':
          description: The request payload exceeds the maximum allowed size.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse413'
        '503':
          description: Service temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse503'
      x-codeSamples:
        - lang: cURL
          source: |
            curl --request POST \
                --url https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID> \
                --header 'Authorization: App <APIKEY>' \
                --header 'Content-Type: application/json' \
                --data '{
                "recipients": [
                    "+336XXXXXXXX"
                ],
                "contentMessage": {
                    "type": "video",
                    "video": {
                        "link": "https://www.example.com/fr/file.mp4",
                        "filename": "file.mp4"
                    }
                }
            }'
        - lang: Python
          source: >
            import requests

            import json


            url =
            'https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID>'

            headers = {
                'Authorization': 'App <APIKEY>',
                'Content-Type': 'application/json'
            }

            data = {
                'recipients': [
                    "+336XXXXXXXX"
                ],
                'contentMessage': {
                    'type': 'video',
                    'video': {
                        'link': 'https://www.example.com/fr/file.mp4',
                        'filename': 'file.mp4'
                    }
                }
            }


            response = requests.post(url, headers=headers,
            data=json.dumps(data))


            print(response.status_code)

            print(response.json())
        - lang: JavaScript
          source: >
            const url =
            'https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID>';

            const headers = {
                'Authorization': 'App <APIKEY>',
                'Content-Type': 'application/json'
            };

            const data = {
                recipients: [
                    "+336XXXXXXXX"
                ],
                contentMessage: {
                    type: 'video',
                    video: {
                        link: 'https://www.example.com/fr/file.mp4',
                        filename: 'file.mp4'
                    }
                }
            };


            fetch(url, {
                method: 'POST',
                headers: headers,
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => console.log(data))
                .catch(error => console.error('Error:', error));
        - lang: PHP
          source: >
            <?php


            $url =
            'https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID>';

            $headers = [
                'Authorization: App <APIKEY>',
                'Content-Type: application/json'
            ];

            $data = [
                'recipients' => [
                    "+336XXXXXXXX"
                ],
                'contentMessage' => [
                    'type' => 'video',
                    'video' => [
                        'link' => 'https://www.example.com/fr/file.mp4',
                        'filename' => 'file.mp4'
                    ]
                ]
            ];


            $ch = curl_init($url);

            curl_setopt($ch, CURLOPT_HTTPHEADER, $headers);

            curl_setopt($ch, CURLOPT_POST, 1);

            curl_setopt($ch, CURLOPT_POSTFIELDS, json_encode($data));

            curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);


            $response = curl_exec($ch);

            curl_close($ch);


            echo $response;
  /waba/1.1/json/{wabaId}/message/{phoneID} (location message):
    description: Send location message
    post:
      operationId: sendLocationMessage
      tags:
        - whatsapp-outbound-messages
      security:
        - ApiKey: []
      summary: Send location message
      parameters:
        - name: wabaId
          in: path
          description: WhatsApp Business Agent ID
          required: true
          schema:
            type: string
        - name: phoneID
          in: path
          description: WhatsApp Business Agent's Phone Number ID
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                recipients:
                  type: array
                  items:
                    type: string
                  maxItems: 5000
                  example:
                    - +336XXXXXXXX
                contentMessage:
                  $ref: '#/components/schemas/Location'
      responses:
        '202':
          description: Request successfully queued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse202'
        '400':
          description: Wrong query syntax or missing mandatory field.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse400'
        '402':
          description: Insufficient balance to process the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse402'
        '403':
          description: Access to the requested resource has been denied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse403'
        '404':
          description: The requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse404'
        '405':
          description: The requested method is not supported for the requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse405'
        '413':
          description: The request payload exceeds the maximum allowed size.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse413'
        '503':
          description: Service temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse503'
      x-codeSamples:
        - lang: cURL
          source: |
            curl --request POST \
                --url https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID> \
                --header 'Authorization: App <APIKEY>' \
                --header 'Content-Type: application/json' \
                --data '{
                "recipients": [
                    "+336XXXXXXXX"
                ],
                "contentMessage": {
                    "type": "location",
                    "location": {
                        "longitude": 6.075501230687077,
                        "latitude": 43.08811078662267,
                        "name": "SMSBOX",
                        "address": "20 Av. Élie Gautier, 83320 Carqueiranne"
                    }
                }
            }'
        - lang: Python
          source: >
            import requests

            import json


            url =
            'https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID>'

            headers = {
                'Authorization': 'App <APIKEY>',
                'Content-Type': 'application/json'
            }

            data = {
                'recipients': [
                    "+336XXXXXXXX"
                ],
                'contentMessage': {
                    'type': 'location', 
                    'location': {
                        'longitude': 6.075501230687077,
                        'latitude': 43.08811078662267,
                        'name': 'SMSBOX',
                        'address': '20 Av. Élie Gautier, 83320 Carqueiranne'
                    }
                }
            }


            response = requests.post(url, headers=headers,
            data=json.dumps(data))


            print(response.status_code)

            print(response.json())
        - lang: JavaScript
          source: >
            const url =
            'https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID>';

            const headers = {
                'Authorization': 'App <APIKEY>',
                'Content-Type': 'application/json'
            };


            const data = {
                recipients: [
                    "+336XXXXXXXX"
                ],
                contentMessage: {
                    type: 'location',
                    location: {
                        longitude: 6.075501230687077,
                        latitude: 43.08811078662267,
                        name: 'SMSBOX',
                        address: '20 Av. Élie Gautier, 83320 Carqueiranne'
                    }
                }
            };


            fetch(url, {
                method: 'POST',
                headers: headers,
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => console.log(data))
                .catch(error => console.error('Error:', error));
        - lang: PHP
          source: >
            <?php


            $url =
            'https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID>';

            $headers = [
                'Authorization: App <APIKEY>',
                'Content-Type: application/json'
            ];

            $data = [
                'recipients' => [
                    "+336XXXXXXXX"
                ],
                'contentMessage' => [
                    'type' => 'location', 
                    'location' => [
                        'longitude' => 6.075501230687077,
                        'latitude' => 43.08811078662267,
                        'name' => 'SMSBOX',
                        'address' => '20 Av. Élie Gautier, 83320 Carqueiranne' 
                    ]
                ]
            ];

            $ch = curl_init($url);

            curl_setopt($ch, CURLOPT_HTTPHEADER, $headers);

            curl_setopt($ch, CURLOPT_POST, 1);

            curl_setopt($ch, CURLOPT_POSTFIELDS, json_encode($data));

            curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);


            $response = curl_exec($ch);

            curl_close($ch);


            echo $response;
  /waba/1.1/json/{wabaId}/message/{phoneID} (ReplyText message):
    description: Send reply Text message
    post:
      operationId: sendReplyTextMessage
      tags:
        - whatsapp-outbound-messages
      security:
        - ApiKey: []
      summary: Send reply text message
      parameters:
        - name: wabaId
          in: path
          description: WhatsApp Business Agent ID
          required: true
          schema:
            type: string
        - name: phoneID
          in: path
          description: WhatsApp Business Agent's Phone Number ID
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                recipients:
                  type: array
                  items:
                    type: string
                  maxItems: 5000
                  example:
                    - +336XXXXXXXX
                contentMessage:
                  $ref: '#/components/schemas/ReplyText'
      responses:
        '202':
          description: Request successfully queued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse202'
        '400':
          description: Wrong query syntax or missing mandatory field.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse400'
        '402':
          description: Insufficient balance to process the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse402'
        '403':
          description: Access to the requested resource has been denied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse403'
        '404':
          description: The requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse404'
        '405':
          description: The requested method is not supported for the requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse405'
        '413':
          description: The request payload exceeds the maximum allowed size.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse413'
        '503':
          description: Service temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse503'
      x-codeSamples:
        - lang: cURL
          source: |
            curl --request POST \
                --url https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID> \
                --header 'Authorization: App <APIKEY>' \
                --header 'Content-Type: application/json' \
                --data '{
                "recipients": [
                  "+336XXXXXXXX"
                ],
                "contentMessage": {
                  "type": "text",
                  "context": {
                    "message_id": "wamid.xxxxxxxxxxxxxxxxxxxxxxxxxxxx"
                  },
                  "text": {
                    "body": "Reply to the previous message."
                  }
                }
              }'
        - lang: Python
          source: >
            import requests

            import json


            url =
            'https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID>'

            headers = {
                'Authorization': 'App <APIKEY>',
                'Content-Type': 'application/json'
            }

            data = {
                "recipients": [
                    "+336XXXXXXXX"
                ],
                "contentMessage": {
                    "type": "text",
                    "context": {
                        "message_id": "wamid.xxxxxxxxxxxxxxxxxxxxxxxxxxxx"
                    },
                    "text": {
                        "body": "Reply to the previous message."
                    }
                }
            }


            response = requests.post(url, headers=headers,
            data=json.dumps(data))


            print(response.status_code)

            print(response.json())
        - lang: JavaScript
          source: >
            const url =
            'https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID>';

            const headers = {
                'Authorization': 'App <APIKEY>',
                'Content-Type': 'application/json'
            };

            const data = {
                recipients: [
                    "+336XXXXXXXX"
                ],
                contentMessage: {
                    type: "text",
                    context: {
                        message_id: "wamid.xxxxxxxxxxxxxxxxxxxxxxxxxxxx"
                    },
                    text: {
                        body: "Reply to the previous message."
                    }
                }
            };


            fetch(url, {
                method: 'POST',
                headers: headers,
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => console.log(data))
                .catch(error => console.error('Error:', error));
        - lang: PHP
          source: >
            <?php


            $url =
            'https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID>';

            $headers = [
                'Authorization: App <APIKEY>',
                'Content-Type: application/json'
            ];

            $data = [
                'recipients' => [
                    "+336XXXXXXXX"
                ],
                'contentMessage' => [
                    'type' => 'text',
                    'context' => [
                        'message_id' => 'wamid.xxxxxxxxxxxxxxxxxxxxxxxxxxxx'
                    ],
                    'text' => [
                        'body' => 'Reply to the previous message.'
                    ]
                ]
            ];


            $ch = curl_init($url);

            curl_setopt($ch, CURLOPT_HTTPHEADER, $headers);

            curl_setopt($ch, CURLOPT_POST, 1);

            curl_setopt($ch, CURLOPT_POSTFIELDS, json_encode($data));

            curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);


            $response = curl_exec($ch);

            curl_close($ch);


            echo $response;
  /waba/1.1/json/{wabaId}/message/{phoneID} (reaction message):
    description: Send reaction message
    post:
      operationId: sendReactionMessage
      tags:
        - whatsapp-outbound-messages
      security:
        - ApiKey: []
      summary: Send reaction message
      parameters:
        - name: wabaId
          in: path
          description: WhatsApp Business Agent ID
          required: true
          schema:
            type: string
        - name: phoneID
          in: path
          description: WhatsApp Business Agent's Phone Number ID
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                recipients:
                  type: array
                  items:
                    type: string
                  maxItems: 5000
                  example:
                    - +336XXXXXXXX
                contentMessage:
                  $ref: '#/components/schemas/ReplyReaction'
      responses:
        '202':
          description: Request successfully queued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse202'
        '400':
          description: Wrong query syntax or missing mandatory field.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse400'
        '402':
          description: Insufficient balance to process the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse402'
        '403':
          description: Access to the requested resource has been denied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse403'
        '404':
          description: The requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse404'
        '405':
          description: The requested method is not supported for the requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse405'
        '413':
          description: The request payload exceeds the maximum allowed size.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse413'
        '503':
          description: Service temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse503'
      x-codeSamples:
        - lang: cURL
          source: "curl --request POST \\\n    --url https://api.wababox.net/waba/1.1/json/<WABAID>/reaction/<PHONEID> \\\n    --header 'Authorization: App <APIKEY>' \\\n    --header 'Content-Type: application/json' \\\n    --data '{\n\t\"recipients\": [\n\t\t\"+336XXXXXXXX\"\n\t],\n\t\"contentMessage\": {\n\t\t\"type\": \"reaction\",\n\t\t\"reaction\": {\n\t\t\t\"message_id\": 'wamid.xxxxxxxxxxxxxxxxxxxxxxxxxxxx',\n\t\t\t\"emoji\": \"😀\"\n\t\t}\n\t}\n}'\n"
        - lang: Python
          source: "curl --request POST \\\n    --url https://api.wababox.net/waba/1.1/json/<WABAID>/reaction/<PHONEID> \\\n    --header 'Authorization: App <APIKEY>' \\\n    --header 'Content-Type: application/json' \\\n    --data '{\n\t\"recipients\": [\n\t\t\"+336XXXXXXXX\"\n\t],\n\t\"contentMessage\": {\n\t\t\"type\": \"reaction\",\n\t\t\"reaction\": {\n\t\t\t\"message_id\": 'wamid.xxxxxxxxxxxxxxxxxxxxxxxxxxxx',\n\t\t\t\"emoji\": \"😀\"\n\t\t}\n\t}\n}'\n"
        - lang: JavaScript
          source: >
            const url =
            'https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID>';

            const headers = {
                'Authorization': 'App <APIKEY>',
                'Content-Type': 'application/json'
            };

            const data = {
                recipients: [
                    "+336XXXXXXXX"
                ],
                contentMessage: {
                    type: "reaction",
                    reaction: {
                        message_id: 'wamid.xxxxxxxxxxxxxxxxxxxxxxxxxxxx',
                        emoji: "😀"
                    }
                }
            };


            fetch(url, {
                method: 'POST',
                headers: headers,
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => console.log(data))
                .catch(error => console.error('Error:', error));
        - lang: PHP
          source: >
            <?php


            $url =
            'https://api.wababox.net/waba/1.1/json/<WABAID>/reaction/<PHONEID>';

            $headers = [
                'Authorization: App <APIKEY>',
                'Content-Type: application/json'
            ];

            $data = [
                'recipients' => [
                    "+336XXXXXXXX"
                ],
                "contentMessage" => [
                    "type" => "reaction",
                    "reaction" => [
                        "message_id" => 'wamid.xxxxxxxxxxxxxxxxxxxxxxxxxxxx',
                        "emoji" => "😀"
                    ]
                ]
            ];


            $ch = curl_init($url);

            curl_setopt($ch, CURLOPT_HTTPHEADER, $headers);

            curl_setopt($ch, CURLOPT_POST, 1);

            curl_setopt($ch, CURLOPT_POSTFIELDS, json_encode($data));

            curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);


            $response = curl_exec($ch);

            curl_close($ch);


            echo $response;
  /waba/1.1/json/{wabaId}/message/{phoneID} (interactive button message):
    description: Send interactive button message
    post:
      operationId: sendInteractiveButtonMessage
      tags:
        - whatsapp-interactive
      security:
        - ApiKey: []
      summary: Send interactive button message
      parameters:
        - name: wabaId
          in: path
          description: WhatsApp Business Agent ID
          required: true
          schema:
            type: string
        - name: phoneID
          in: path
          description: WhatsApp Business Agent's Phone Number ID
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InteractiveButtonContentMessage'
      responses:
        '202':
          description: Request successfully queued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse202'
        '400':
          description: Wrong query syntax or missing mandatory field.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse400'
        '402':
          description: Insufficient balance to process the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse402'
        '403':
          description: Access to the requested resource has been denied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse403'
        '404':
          description: The requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse404'
        '405':
          description: The requested method is not supported for the requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse405'
        '413':
          description: The request payload exceeds the maximum allowed size.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse413'
        '503':
          description: Service temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse503'
      x-codeSamples:
        - lang: cURL
          source: |
            curl --request POST \
                --url https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID> \
                --header 'Authorization: App <APIKEY>' \
                --header 'Content-Type: application/json' \
                --data '{
              "recipients": [
                "+336XXXXXXXX"
              ],
              "contentMessage": {
                "type": "interactive",
                "interactive": {
                  "type": "button",
                  "header": {
                    "type": "text",
                    "text": "Welcome!"
                  },
                  "body": {
                    "type": "text",
                    "text": "Choose an option:"
                  },
                  "footer": {
                    "type": "text",
                    "text": "Thank you for your visit."
                  },
                  "action": {
                    "buttons": [
                      {
                        "type": "reply",
                        "reply": {
                          "id": "button1",
                          "title": "Option 1"
                        }
                      },
                      {
                        "type": "reply",
                        "reply": {
                          "id": "button2",
                          "title": "Option 2"
                        }
                      }
                    ]
                  }
                }
              }
            }'
        - lang: Python
          source: >
            import requests

            import json


            url =
            'https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID>'

            headers = {
                'Authorization': 'App <APIKEY>',
                'Content-Type': 'application/json'
            }

            data = {
                'recipients': [
                    "+336XXXXXXXX"
                ],
                'contentMessage': {
                    'type': 'interactive',
                    'interactive': {
                        'type': 'button',
                        'header': {
                            'type': 'text',
                            'text': 'Welcome!'
                        },
                        'body': {
                            'type': 'text',
                            'text': 'Choose an option:'
                        },
                        'footer': {
                            'type': 'text',
                            'text': 'Thank you for your visit.'
                        },
                        'action': {
                            'buttons': [
                                {
                                    'type': 'reply',
                                    'reply': {
                                        'id': 'button1',
                                        'title': 'Option 1'
                                    }
                                },
                                {
                                    'type': 'reply',
                                    'reply': {
                                        'id': 'button2',
                                        'title': 'Option 2'
                                    }
                                }
                            ]
                        }
                    }
                }
            }


            response = requests.post(url, headers=headers,
            data=json.dumps(data))


            print(response.status_code)

            print(response.json())
        - lang: JavaScript
          source: >
            const url =
            'https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID>';

            const headers = {
                'Authorization': 'App <APIKEY>',
                'Content-Type': 'application/json'
            };

            const data = {
                recipients: [
                    "+336XXXXXXXX"
                ],
                contentMessage: {
                    type: 'interactive',
                    interactive: {
                        type: 'button',
                        header: {
                            type: 'text',
                            text: 'Welcome!'
                        },
                        body: {
                            type: 'text',
                            text: 'Choose an option:'
                        },
                        footer: {
                            type: 'text',
                            text: 'Thank you for your visit.'
                        },
                        action: {
                            buttons: [
                                {
                                    type: 'reply',
                                    reply: {
                                        id: 'button1',
                                        title: 'Option 1'
                                    }
                                },
                                {
                                    type: 'reply',
                                    reply: {
                                        id: 'button2',
                                        title: 'Option 2'
                                    }
                                }
                            ]
                        }
                    }
                }
            };


            fetch(url, {
                method: 'POST',
                headers: headers,
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => console.log(data))
                .catch(error => console.error('Error:', error));
        - lang: PHP
          source: >
            <?php


            $url =
            'https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID>';

            $headers = [
                'Authorization: App <APIKEY>',
                'Content-Type: application/json'
            ];

            $data = [
                'recipients' => [
                    "+336XXXXXXXX"
                ],
                'contentMessage' => [
                    'type' => 'interactive',
                    'interactive' => [
                        'type' => 'button',
                        'header' => [
                            'type' => 'text',
                            'text' => 'Welcome!'
                        ],
                        'body' => [
                            'type' => 'text',
                            'text' => 'Choose an option:'
                        ],
                        'footer' => [
                            'type' => 'text',
                            'text' => 'Thank you for your visit.'
                        ],
                        'action' => [
                            'buttons' => [
                                [
                                    'type' => 'reply',
                                    'reply' => [
                                        'id' => 'button1',
                                        'title' => 'Option 1'
                                    ]
                                ],
                                [
                                    'type' => 'reply',
                                    'reply' => [
                                        'id' => 'button2',
                                        'title' => 'Option 2'
                                    ]
                                ]
                            ]
                        ]
                    ]
                ]
            ];


            $ch = curl_init($url);

            curl_setopt($ch, CURLOPT_HTTPHEADER, $headers);

            curl_setopt($ch, CURLOPT_POST, 1);

            curl_setopt($ch, CURLOPT_POSTFIELDS, json_encode($data));

            curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);


            $response = curl_exec($ch);

            curl_close($ch);


            echo $response;
  /waba/1.1/json/{wabaId}/message/{phoneID} (interactive list message):
    description: Send interactive list message
    post:
      operationId: sendInteractiveListMessage
      tags:
        - whatsapp-interactive
      security:
        - ApiKey: []
      summary: Send interactive list message
      parameters:
        - name: wabaId
          in: path
          description: WhatsApp Business Agent ID
          required: true
          schema:
            type: string
        - name: phoneID
          in: path
          description: WhatsApp Business Agent's Phone Number ID
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InteractiveListContentMessage'
      responses:
        '202':
          description: Request successfully queued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse202'
        '400':
          description: Wrong query syntax or missing mandatory field.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse400'
        '402':
          description: Insufficient balance to process the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse402'
        '403':
          description: Access to the requested resource has been denied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse403'
        '404':
          description: The requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse404'
        '405':
          description: The requested method is not supported for the requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse405'
        '413':
          description: The request payload exceeds the maximum allowed size.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse413'
        '503':
          description: Service temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse503'
      x-codeSamples:
        - lang: cURL
          source: |
            curl --request POST \
                --url https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID> \
                --header 'Authorization: App <APIKEY>' \
                --header 'Content-Type: application/json' \
                --data '{
              "recipients": [
                "+336XXXXXXXX"
              ],
             "contentMessage": {
                    "type": "interactive",
                    "interactive": {
                        "type": "list",
                        "header": {
                            "type": "text",
                            "text": "Welcome!"
                        },
                        "body": {
                            "text": "Choose an option:"
                        },
                        "footer": {
                            "text": "Thank you for your visit."
                        },
                        "action": {
                            "button": "View options",
                            "sections": [
                                {
                                    "title": "Catégorie 1",
                                    "rows": [
                                        {
                                            "id": "option1",
                                            "title": "Option 1",
                                            "description": "Option description 1"
                                        },
                                        {
                                            "id": "option2",
                                            "title": "Option 2",
                                            "description": "Option description 2"
                                        }
                                    ]
                                }
                            ]
                        }
                    }
                }
            }'
        - lang: Python
          source: >
            import requests

            import json


            url =
            'https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID>'

            headers = {
                'Authorization': 'App <APIKEY>',
                'Content-Type': 'application/json'
            }

            data = {
                'recipients': [
                    "+336XXXXXXXX"
                ],
                'contentMessage': {
                    'type': 'interactive',
                    'interactive': {
                        'type': 'list',
                        'header': {
                            'type': 'text',
                            'text': 'Welcome!'
                        },
                        'body': {
                            'text': 'Choose an option:'
                        },
                        'footer': {
                            'text': 'Thank you for your visit.'
                        },
                        'action': {
                            'button': 'View options',
                            'sections': [
                                {
                                    'title': 'Catégorie 1',
                                    'rows': [
                                        {
                                            'id': 'option1',
                                            'title': 'Option 1',
                                            'description': 'Option description 1'
                                        },
                                        {
                                            'id': 'option2',
                                            'title': 'Option 2',
                                            'description': 'Option description 2'
                                        }
                                    ]
                                }
                            ]
                        }
                    }
                }
            }


            response = requests.post(url, headers=headers,
            data=json.dumps(data))


            print(response.status_code)

            print(response.json())
        - lang: JavaScript
          source: >
            const url =
            'https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID>';

            const headers = {
                'Authorization': 'App <APIKEY>',
                'Content-Type': 'application/json'
            };

            const data = {
                recipients: [
                    "+336XXXXXXXX"
                ],
                contentMessage: {
                    type: 'interactive',
                    interactive: {
                        type: 'list',
                        header: {
                            type: 'text',
                            text: 'Welcome!'
                        },
                        body: {
                            text: 'Choose an option:'
                        },
                        footer: {
                            text: 'Thank you for your visit.'
                        },
                        action: {
                            button: 'View options',
                            sections: [
                                {
                                    title: 'Catégorie 1',
                                    rows: [
                                        {
                                            id: 'option1',
                                            title: 'Option 1',
                                            description: 'Option description 1'
                                        },
                                        {
                                            id: 'option2',
                                            title: 'Option 2',
                                            description: 'Option description 2'
                                        }
                                    ]
                                }
                            ]
                        }
                    }
                }
            };


            fetch(url, {
                method: 'POST',
                headers: headers,
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => console.log(data))
                .catch(error => console.error('Error:', error));
        - lang: PHP
          source: >
            <?php


            $url =
            'https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID>';

            $headers = [
                'Authorization: App <APIKEY>',
                'Content-Type: application/json'
            ];

            $data = [
                'recipients' => [
                    "+336XXXXXXXX"
                ],
                'contentMessage' => [
                    'type' => 'interactive',
                    'interactive' => [
                        'type' => 'list',
                        'header' => [
                            'type' => 'text',
                            'text' => 'Welcome!'
                        ],
                        'body' => [
                            'text' => 'Choose an option:'
                        ],
                        'footer' => [
                            'text' => 'Thank you for your visit.'
                        ],
                        'action' => [
                            'button' => 'View options',
                            'sections' => [
                                [
                                    'title' => 'Catégorie 1',
                                    'rows' => [
                                        [
                                            'id' => 'option1',
                                            'title' => 'Option 1',
                                            'description' => 'Option description 1'
                                        ],
                                        [
                                            'id' => 'option2',
                                            'title' => 'Option 2',
                                            'description' => 'Option description 2'
                                        ]
                                    ]
                                ]
                            ]
                        ]
                    ]
                ]
            ];


            $ch = curl_init($url);

            curl_setopt($ch, CURLOPT_HTTPHEADER, $headers);

            curl_setopt($ch, CURLOPT_POST, 1);

            curl_setopt($ch, CURLOPT_POSTFIELDS, json_encode($data));

            curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);


            $response = curl_exec($ch);

            curl_close($ch);


            echo $response;
  /waba/1.1/json/{wabaId}/template/{phoneId}:
    get:
      operationId: getTemplates
      tags:
        - whatsapp-templates-messages
      security:
        - ApiKey: []
      summary: Get all templates
      parameters:
        - name: wabaId
          in: path
          description: WhatsApp Business Agent ID
          required: true
          schema:
            type: string
        - name: phoneId
          in: path
          description: WhatsApp Business Agent's Phone Number ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Request successfully processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse200Template'
        '400':
          description: Wrong query syntax or missing mandatory field.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse400'
        '403':
          description: Access to the requested resource has been denied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse403'
        '404':
          description: The requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse404'
        '405':
          description: The requested method is not supported for the requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse405'
        '503':
          description: Service temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse503'
      x-codeSamples:
        - lang: cURL
          source: "curl --request GET \\\n\t--url https://api.wababox.net/waba/1.1/json/<WABAID>/template/<PHONEID> \\\n\t--header 'Authorization: App <APIKEY>' \\\n\t--header 'Content-Type: application/json'\n"
        - lang: Python
          source: >
            import requests

            import json


            url =
            'https://api.wababox.net/waba/1.1/json/<WABAID>/template/<PHONEID>'

            headers = {
                'Authorization': 'App <APIKEY>',
                'Content-Type': 'application/json'
            }


            response = requests.get(url, headers=headers)


            print(response.status_code)

            print(response.json())
        - lang: JavaScript
          source: "const url = 'https://api.wababox.net/waba/1.1/json/<WABAID>/template/<PHONEID>';\nconst headers = {\n\t'Authorization': 'App <APIKEY>',\n\t'Content-Type': 'application/json'\n};\n\nfetch(url, {\n\tmethod: 'GET',\n\theaders: headers\n})\n\t.then(response => response.json())\n\t.then(data => console.log(data))\n\t.catch(error => console.error('Error:', error));"
        - lang: PHP
          source: >
            <?php


            $url     =
            'https://api.wababox.net/waba/1.1/json/<WABAID>/template/<PHONEID>';

            $headers = [
                'Authorization: App <APIKEY>',
                'Content-Type: application/json'
            ];


            $ch = curl_init($url);

            curl_setopt($ch, CURLOPT_HTTPHEADER, $headers);

            curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);


            $response = curl_exec($ch);

            curl_close($ch);


            echo $response;
  /waba/1.1/json/{wabaId}/message/{phoneID} (otp template message):
    post:
      operationId: sendOtpTemplateMessage
      tags:
        - whatsapp-templates-messages
      security:
        - ApiKey: []
      summary: Send OTP message
      parameters:
        - name: wabaId
          in: path
          description: WhatsApp Business Agent ID
          required: true
          schema:
            type: string
        - name: phoneID
          in: path
          description: WhatsApp Business Agent's Phone Number ID
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                recipients:
                  type: array
                  items:
                    type: string
                  maxItems: 5000
                  example:
                    - +336XXXXXXXX
                contentMessage:
                  $ref: '#/components/schemas/OTPTemplateMessage'
      responses:
        '202':
          description: Request successfully queued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse202'
        '400':
          description: Wrong query syntax or missing mandatory field.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse400'
        '402':
          description: Insufficient balance to process the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse402'
        '403':
          description: Access to the requested resource has been denied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse403'
        '404':
          description: The requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse404'
        '405':
          description: The requested method is not supported for the requested resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse405'
        '413':
          description: The request payload exceeds the maximum allowed size.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse413'
        '503':
          description: Service temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse503'
      x-codeSamples:
        - lang: cURL
          source: "curl --request POST \\\n\t--url https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID> \\\n\t--header 'Authorization: App <APIKEY>' \\\n\t--header 'Content-Type: application/json' \\\n\t--data '{\n\t\"recipients\": [\n\t\t\"+336XXXXXXXX\"\n\t],\n\t\"contentMessage\": {\n\t\t\"type\": \"template\",\n\t\t\"template\": {\n\t\t\t\"name\": \"otp\",\n\t\t\t\"language\": {\n\t\t\t\t\"code\": \"fr\"\n\t\t\t},\n\t\t\t\"components\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"body\",\n\t\t\t\t\t\"parameters\": [\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"type\": \"text\",\n\t\t\t\t\t\t\t\"text\": \"123456\"\n\t\t\t\t\t\t}\n\t\t\t\t\t]\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"button\",\n\t\t\t\t\t\"sub_type\": \"url\",\n\t\t\t\t\t\"index\": \"0\",\n\t\t\t\t\t\"parameters\": [\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"type\": \"text\",\n\t\t\t\t\t\t\t\"text\": \"123456\"\n\t\t\t\t\t\t}\n\t\t\t\t\t]\n\t\t\t\t}\n\t\t\t]\n\t\t}\n\t}\n}'\n"
        - lang: Python
          source: >
            import requests

            import json


            url =
            'https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID>'

            headers = {
                'Authorization': 'App <APIKEY>',
                'Content-Type': 'application/json'
            }

            data = {
                "recipients": ["+336XXXXXXXX"],
                "contentMessage": {
                    "type": "template",
                    "template": {
                        "name": "otp",
                        "language": {
                            "code": "fr"
                        },
                        "components": [
                            {
                                "type": "body",
                                "parameters": [
                                    {
                                        "type": "text",
                                        "text": "123456"
                                    }
                                ]
                            },
                            {
                                "type": "button",
                                "sub_type": "url",
                                "index": "0",
                                "parameters": [
                                    {
                                        "type": "text",
                                        "text": "123456"
                                    }
                                ]
                            }
                        ]
                    }
                }
            }


            response = requests.post(url, headers=headers,
            data=json.dumps(data))


            print(response.status_code)

            print(response.json())
        - lang: JavaScript
          source: >-
            const url =
            'https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID>';

            const headers = {
                'Authorization': 'App <APIKEY>',
                'Content-Type': 'application/json'
            };

            const data = {
                recipients: ["+336XXXXXXXX"],
                contentMessage: {
                    type: "template",
                    template: {
                        name: "otp",
                        language: {
                            code: "fr"
                        },
                        components: [
                            {
                                type: "body",
                                parameters: [
                                    {
                                        type: "text",
                                        text: "123456"
                                    }
                                ]
                            },
                            {
                                type: "button",
                                sub_type: "url",
                                index: "0",
                                parameters: [
                                    {
                                        type: "text",
                                        text: "123456"
                                    }
                                ]
                            }
                        ]
                    }
                }
            };


            fetch(url, {
                method: 'POST',
                headers: headers,
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => console.log(data))
                .catch(error => console.error('Error:', error));
        - lang: PHP
          source: >
            <?php


            $url =
            'https://api.wababox.net/waba/1.1/json/<WABAID>/message/<PHONEID>';

            $headers = [
                'Authorization: App <APIKEY>',
                'Content-Type: application/json'
            ];


            $data = [
                "recipients" => ["+336XXXXXXXX"],
                "contentMessage" => [
                    "type" => "template",
                    "template" => [
                        "name" => "otp",
                        "language" => [
                            "code" => "fr"
                        ],
                        "components" => [
                            [
                                "type" => "body",
                                "parameters" => [
                                    [
                                        "type" => "text",
                                        "text" => "123456"
                                    ]
                                ]
                            ],
                            [
                                "type" => "button",
                                "sub_type" => "url",
                                "index" => "0",
                                "parameters" => [
                                    [
                                        "type" => "text",
                                        "text" => "123456"
                                    ]
                                ]
                            ]
                        ]
                    ]
                ]
            ];



            $ch = curl_init($url);

            curl_setopt($ch, CURLOPT_HTTPHEADER, $headers);

            curl_setopt($ch, CURLOPT_POST, 1);

            curl_setopt($ch, CURLOPT_POSTFIELDS, json_encode($data));

            curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);


            $response = curl_exec($ch);

            curl_close($ch);


            echo $response;
  /waba/1.1/json/{wabaId}/event/{phoneID}:
    post:
      operationId: sendEventStatus
      tags:
        - whatsapp-event-messages
      security:
        - ApiKey: []
      summary: Send read message status
      parameters:
        - name: wabaId
          in: path
          description: WhatsApp Business Agent ID
          required: true
          schema:
            type: string
        - name: phoneID
          in: path
          description: WhatsApp Business Agent's Phone Number ID
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message_id:
                  type: string
                  description: Received message ID
                  example: wamid.xxxxxxxxxxxxxxxxxxxxxxxxxxxx
                status:
                  type: string
                  const: read
      responses:
        '202':
          description: Request successfully queued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse202'
        '400':
          description: Wrong query syntax or missing mandatory field.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse400'
        '403':
          description: Access to the requested resource has been denied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse403'
        '404':
          description: The requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse404'
        '405':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse405'
        '503':
          description: Service temporarily unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageContentResponse503'
      x-codeSamples:
        - lang: cURL
          source: "curl --request POST \\\n    --url https://api.wababox.net/waba/1.1/json/<WABAID>/event/<PHONEID> \\\n    --header 'Authorization: App <APIKEY>' \\\n    --header 'Content-Type: application/json' \\\n    --data '{\n\t\t\"message_id\": \"wamid.xxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n\t\t\"status\": \"read\"\n\t}\n}'\n"
        - lang: Python
          source: >
            import requests

            import json


            url =
            'https://api.wababox.net/waba/1.1/json/<WABAID>/event/<PHONEID>'

            headers = {
                'Authorization': 'App <APIKEY>',
                'Content-Type': 'application/json'
            }

            data = {
                'message_id': 'wamid.xxxxxxxxxxxxxxxxxxxxxxxxxxxx',
                'status': 'read'
            }


            response = requests.post(url, headers=headers,
            data=json.dumps(data))


            print(response.status_code)

            print(response.json())
        - lang: JavaScript
[...]
